.header {
    background-color: #A1B7C8;
    min-height: 60px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 13px 15px;
    align-items: center;
}
.header__logo {
    width: 124px;
}

.header__contacts {
    position: absolute;
    background-color: #A1B7C8;
    top: 71px;
    left: 0;
    right: 0;
    padding: 30px 15px;
    color: #fff;
}
.header__contacts-burger {
    display: block;
    width: 27px;
    height: 14px;
    background-image: url("../assets/img/burger.svg");
}
.contacts__head {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.contacts__link {
    font-size: 16px;
    line-height: 22px;
}

.contacts__social-list {
    display: flex;
}

.contacts__social-link {
    display: block;
    width: 26px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
}

.contacts__social-item {
    margin-right: 18px;
}
.contacts__social-item:last-child {
    margin-right: 0;
}

.contacts__social-link_whatsup {
    background-image: url(../assets/img/whats-app.svg);
}
.contacts__social-link_instagram {
    background-image: url(../assets/img/instagram.svg);
   
}
.contacts__social-link_facebook {
    background-image: url(../assets/img/facebook.svg);
}

.contacts__social-link_telegram {
    background-image: url(../assets/img/telegram.svg);
}

.contacts__item:not(:last-child) {
    margin-bottom: 50px;
}
.contacts__head_social {
    margin-bottom: 12px;
}

