.header {
    background-color: #A1B7C8;
    min-height: 60px;
    padding: 13px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 124px;
}

.header__contacts {
    position: absolute;
    display: none;
    background-color: #A1B7C8;
    top: 66px;
    left: 0;
    right: 0;
    padding: 30px 15px;
    color: #fff;
    margin-top: 270px;
}
.header__contacts-burger {
    display: block;
    width: 27px;
    height: 14px;
    background-image: url("../assets/img/burger.svg");
}
.contacts__head {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.contacts__link {
    font-size: 16px;
    line-height: 22px;
}

.contacts__social-list {
    display: flex;
}

.contacts__social-link {
    display: block;
    width: 26px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
}

.contacts__social-item {
    margin-right: 18px;
}
.contacts__social-item:last-child {
    margin-right: 0;
}

.contacts__social-link_whatsup {
    background-image: url(../assets/img/whats-app.svg);
}
.contacts__social-link_instagram {
    background-image: url(../assets/img/instagram.svg);
   
}
.contacts__social-link_facebook {
    background-image: url(../assets/img/facebook.svg);
}

.contacts__social-link_telegram {
    background-image: url(../assets/img/telegram.svg);
}

.contacts__item {
    margin-bottom: 50px;
    cursor: pointer;
}
.contacts__item:last-child {
    margin-bottom: 0;
}
.contacts__head_social {
    margin-bottom: 12px;
}

@media (min-width: 768px) {
    .header {
        min-height: 100px;
        padding: 28px 0;
    }
    .header__container {
        justify-content: space-between;
    }
    .header__logo {
        width: 180px;
    }
    .header__contacts {
        top: 113px;
        padding: 40px;
    }
    .contacts__list {
        display: flex;
        justify-content: space-between;
    }
    .contacts__item {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .header {
        padding: 50px 0;
    }
    .header__container {
        flex-direction: column;
        padding: 0 20px;
    }
    .header__contacts {
        position: static;
        display: block;
        padding: 0;
    }
    .contacts {
        display: block;
    }
    .contacts__list {
        flex-direction: column;
    }
    .contacts__item:not(:last-child) {
        margin-bottom: 50px;
    }
    .header__logo {
        width: 273px;
    }
    .header__contacts-burger {
        display: none;
    }
}

@media (min-width: 1440px) {
    .header {
        padding-top: 60px;
    }
    .header__contacts {
        margin-top: 512px;
    }
    
}