.modal {
    position: relative;
    background-color: #fff;
    border: 2px solid #646464;
    border-radius: 14px;
    margin: auto;
    padding: 40px 10px;
    min-width: 280px;
}
.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.modal__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    max-width: 224px;
    margin: 0 auto 30px;
}

.callback__label {
    position: relative;
    display: block;
    margin-bottom: 20px;
}
.callback__label-text {
    position: absolute;
    display: block;
    top: 5px;
    left: 15px;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    color: #303030;
}

.callback__input {
    border: 1px solid #AFAFAF;
    border-radius: 6px;
    width: 100%;
    height: 74px;
    padding: 0 15px;
    font-size: 12px;
    line-height: 130%;
}

.callback__group:not(:last-child) {
    margin-bottom: 40px;
}

.connect__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.connect__label {
    display: block;
    margin-bottom: 15px;
}
.connect__radio {
    margin-right: 15px;
}
.callback__btn {
    display: block;
    margin: 0 auto;
    padding: 16px 60px;
    width: 190px;
    height: 52px;
    border-radius: 4px;
    background-color: #E87C40;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #ffffff;
}